# Node modules
frontend/node_modules/
backend/cgp_sudoc_index.db
backend/__pycache__/
venv/
backend/.env
.vscode/
.idea/
logs/
*.log
.DS_Store
backend/Record_sets/
node_modules
backend/api/__pycache__/
backend/core/__pycache__/
backend/db/__pycache__/
backend/schemas/__pycache__/
backend/cgp_sudoc_index/