services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: quinnjh
      POSTGRES_PASSWORD: quinn
      POSTGRES_DB: shelfdata
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    env_file: ./backend/.env
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "3000:80"

volumes:
  db_data:
