--
-- PostgreSQL database dump
--

\restrict iMLroWV2w3ylNpD1TxUlnQ8ffSGLpiVcbQlPQJgFhkidhhQyB9Dgc0udP4STq5T

-- Dumped from database version 16.10 (Ubuntu 16.10-0ubuntu0.24.04.1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: analytics; Type: TABLE; Schema: public; Owner: quinnjh
--

CREATE TABLE public.analytics (
    id integer NOT NULL,
    barcode character varying NOT NULL,
    alternative_call_number character varying,
    title character varying,
    location_code character varying,
    item_policy character varying,
    call_number character varying,
    description character varying,
    status character varying,
    has_item_link boolean DEFAULT false NOT NULL
);


ALTER TABLE public.analytics OWNER TO quinnjh;

--
-- Name: analytics_errors; Type: TABLE; Schema: public; Owner: quinnjh
--

CREATE TABLE public.analytics_errors (
    id integer NOT NULL,
    barcode character varying NOT NULL,
    alternative_call_number character varying,
    title character varying,
    call_number character varying,
    status character varying,
    error_reason character varying NOT NULL
);


ALTER TABLE public.analytics_errors OWNER TO quinnjh;

--
-- Name: analytics_errors_id_seq; Type: SEQUENCE; Schema: public; Owner: quinnjh
--

CREATE SEQUENCE public.analytics_errors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.analytics_errors_id_seq OWNER TO quinnjh;

--
-- Name: analytics_errors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: quinnjh
--

ALTER SEQUENCE public.analytics_errors_id_seq OWNED BY public.analytics_errors.id;


--
-- Name: analytics_id_seq; Type: SEQUENCE; Schema: public; Owner: quinnjh
--

CREATE SEQUENCE public.analytics_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.analytics_id_seq OWNER TO quinnjh;

--
-- Name: analytics_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: quinnjh
--

ALTER SEQUENCE public.analytics_id_seq OWNED BY public.analytics.id;


--
-- Name: items; Type: TABLE; Schema: public; Owner: quinnjh
--

CREATE TABLE public.items (
    id integer NOT NULL,
    barcode character varying NOT NULL,
    alternative_call_number character varying NOT NULL,
    location character varying,
    floor character varying,
    range_code character varying,
    ladder character varying,
    shelf character varying,
    "position" character varying
);


ALTER TABLE public.items OWNER TO quinnjh;

--
-- Name: weeded_items; Type: TABLE; Schema: public; Owner: quinnjh
--

CREATE TABLE public.weeded_items (
    id integer NOT NULL,
    alternative_call_number character varying NOT NULL,
    barcode character varying NOT NULL,
    scanned_barcode character varying,
    is_weeded boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.weeded_items OWNER TO quinnjh;

--
-- Name: empty_slot_details; Type: VIEW; Schema: public; Owner: quinnjh
--

CREATE VIEW public.empty_slot_details AS
 WITH parsed AS (
         SELECT items.floor,
            items.range_code,
            items.ladder,
            (items.shelf)::integer AS shelf,
            (items."position")::integer AS pos,
            items.alternative_call_number
           FROM public.items
        ), range_max_shelf AS (
         SELECT parsed.range_code,
            max(parsed.shelf) AS shelf
           FROM parsed
          GROUP BY parsed.range_code
        ), all_shelves AS (
         SELECT DISTINCT p.floor,
            p.range_code,
            p.ladder,
            generate_series(1, rms.shelf) AS shelf
           FROM (parsed p
             JOIN range_max_shelf rms ON (((rms.range_code)::text = (p.range_code)::text)))
        ), empty_shelves AS (
         SELECT a.floor,
            a.range_code AS range,
            a.ladder,
            a.shelf,
            NULL::text AS empty_position,
            'shelf'::text AS hole_type
           FROM (all_shelves a
             LEFT JOIN parsed p ON ((((p.floor)::text = (a.floor)::text) AND ((p.range_code)::text = (a.range_code)::text) AND ((p.ladder)::text = (a.ladder)::text) AND (p.shelf = a.shelf))))
          WHERE (p.shelf IS NULL)
        ), max_pos AS (
         SELECT parsed.floor,
            parsed.range_code,
            parsed.ladder,
            parsed.shelf,
            max(parsed.pos) AS pos
           FROM parsed
          GROUP BY parsed.floor, parsed.range_code, parsed.ladder, parsed.shelf
        ), all_slots AS (
         SELECT m.floor,
            m.range_code,
            m.ladder,
            m.shelf,
            generate_series(1, m.pos) AS pos
           FROM max_pos m
        ), empty_slots AS (
         SELECT a.floor,
            a.range_code AS range,
            a.ladder,
            a.shelf,
            lpad((a.pos)::text, 3, '0'::text) AS empty_position,
            'slot'::text AS hole_type
           FROM (all_slots a
             LEFT JOIN parsed p ON ((((p.floor)::text = (a.floor)::text) AND ((p.range_code)::text = (a.range_code)::text) AND ((p.ladder)::text = (a.ladder)::text) AND (p.shelf = a.shelf) AND (p.pos = a.pos))))
          WHERE (p.pos IS NULL)
        ), destroyed_slots AS (
         SELECT split_part((w.alternative_call_number)::text, '-'::text, 2) AS floor,
            split_part((w.alternative_call_number)::text, '-'::text, 3) AS range,
            split_part((w.alternative_call_number)::text, '-'::text, 4) AS ladder,
            (split_part((w.alternative_call_number)::text, '-'::text, 5))::integer AS shelf,
            lpad(split_part((w.alternative_call_number)::text, '-'::text, 6), 3, '0'::text) AS empty_position,
            'slot'::text AS hole_type
           FROM public.weeded_items w
          WHERE (w.is_weeded AND (split_part((w.alternative_call_number)::text, '-'::text, 5) ~ '^[0-9]+$'::text) AND (split_part((w.alternative_call_number)::text, '-'::text, 6) ~ '^[0-9]+$'::text) AND (NOT (EXISTS ( SELECT 1
                   FROM parsed p
                  WHERE ((p.alternative_call_number)::text = (w.alternative_call_number)::text)))) AND (NOT (EXISTS ( SELECT 1
                   FROM empty_shelves es
                  WHERE (((es.floor)::text = split_part((w.alternative_call_number)::text, '-'::text, 2)) AND ((es.range)::text = split_part((w.alternative_call_number)::text, '-'::text, 3)) AND ((es.ladder)::text = split_part((w.alternative_call_number)::text, '-'::text, 4)) AND (es.shelf = (split_part((w.alternative_call_number)::text, '-'::text, 5))::integer))))) AND ((NOT (EXISTS ( SELECT 1
                   FROM max_pos mp
                  WHERE (((mp.floor)::text = split_part((w.alternative_call_number)::text, '-'::text, 2)) AND ((mp.range_code)::text = split_part((w.alternative_call_number)::text, '-'::text, 3)) AND ((mp.ladder)::text = split_part((w.alternative_call_number)::text, '-'::text, 4)) AND (mp.shelf = (split_part((w.alternative_call_number)::text, '-'::text, 5))::integer))))) OR (EXISTS ( SELECT 1
                   FROM max_pos mp
                  WHERE (((mp.floor)::text = split_part((w.alternative_call_number)::text, '-'::text, 2)) AND ((mp.range_code)::text = split_part((w.alternative_call_number)::text, '-'::text, 3)) AND ((mp.ladder)::text = split_part((w.alternative_call_number)::text, '-'::text, 4)) AND (mp.shelf = (split_part((w.alternative_call_number)::text, '-'::text, 5))::integer) AND (mp.pos >= (split_part((w.alternative_call_number)::text, '-'::text, 6))::integer))))))
        )
 SELECT empty_shelves.floor,
    empty_shelves.range,
    empty_shelves.ladder,
    empty_shelves.shelf,
    empty_shelves.empty_position,
    empty_shelves.hole_type
   FROM empty_shelves
UNION ALL
 SELECT empty_slots.floor,
    empty_slots.range,
    empty_slots.ladder,
    empty_slots.shelf,
    empty_slots.empty_position,
    empty_slots.hole_type
   FROM empty_slots
UNION ALL
 SELECT destroyed_slots.floor,
    destroyed_slots.range,
    destroyed_slots.ladder,
    destroyed_slots.shelf,
    destroyed_slots.empty_position,
    destroyed_slots.hole_type
   FROM destroyed_slots
  ORDER BY 1, 2, 3, 4, 6, 5;


ALTER VIEW public.empty_slot_details OWNER TO quinnjh;

--
-- Name: items_id_seq; Type: SEQUENCE; Schema: public; Owner: quinnjh
--

CREATE SEQUENCE public.items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.items_id_seq OWNER TO quinnjh;

--
-- Name: items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: quinnjh
--

ALTER SEQUENCE public.items_id_seq OWNED BY public.items.id;


--
-- Name: sudoc_cart_items; Type: TABLE; Schema: public; Owner: quinnjh
--

CREATE TABLE public.sudoc_cart_items (
    id integer NOT NULL,
    cart_id integer,
    record_id integer NOT NULL,
    added_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.sudoc_cart_items OWNER TO quinnjh;

--
-- Name: sudoc_cart_items_id_seq; Type: SEQUENCE; Schema: public; Owner: quinnjh
--

CREATE SEQUENCE public.sudoc_cart_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sudoc_cart_items_id_seq OWNER TO quinnjh;

--
-- Name: sudoc_cart_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: quinnjh
--

ALTER SEQUENCE public.sudoc_cart_items_id_seq OWNED BY public.sudoc_cart_items.id;


--
-- Name: sudoc_carts; Type: TABLE; Schema: public; Owner: quinnjh
--

CREATE TABLE public.sudoc_carts (
    id integer NOT NULL,
    name character varying NOT NULL,
    created_by integer,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.sudoc_carts OWNER TO quinnjh;

--
-- Name: sudoc_carts_id_seq; Type: SEQUENCE; Schema: public; Owner: quinnjh
--

CREATE SEQUENCE public.sudoc_carts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sudoc_carts_id_seq OWNER TO quinnjh;

--
-- Name: sudoc_carts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: quinnjh
--

ALTER SEQUENCE public.sudoc_carts_id_seq OWNED BY public.sudoc_carts.id;


--
-- Name: sudoc_created_records; Type: TABLE; Schema: public; Owner: quinnjh
--

CREATE TABLE public.sudoc_created_records (
    id integer NOT NULL,
    marc_data bytea NOT NULL,
    created_by integer,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.sudoc_created_records OWNER TO quinnjh;

--
-- Name: sudoc_created_records_id_seq; Type: SEQUENCE; Schema: public; Owner: quinnjh
--

CREATE SEQUENCE public.sudoc_created_records_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sudoc_created_records_id_seq OWNER TO quinnjh;

--
-- Name: sudoc_created_records_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: quinnjh
--

ALTER SEQUENCE public.sudoc_created_records_id_seq OWNED BY public.sudoc_created_records.id;


--
-- Name: sudoc_edited_records; Type: TABLE; Schema: public; Owner: quinnjh
--

CREATE TABLE public.sudoc_edited_records (
    id integer NOT NULL,
    record_id integer NOT NULL,
    marc_data bytea NOT NULL,
    edited_at timestamp with time zone DEFAULT now(),
    edited_by integer
);


ALTER TABLE public.sudoc_edited_records OWNER TO quinnjh;

--
-- Name: sudoc_edited_records_id_seq; Type: SEQUENCE; Schema: public; Owner: quinnjh
--

CREATE SEQUENCE public.sudoc_edited_records_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sudoc_edited_records_id_seq OWNER TO quinnjh;

--
-- Name: sudoc_edited_records_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: quinnjh
--

ALTER SEQUENCE public.sudoc_edited_records_id_seq OWNED BY public.sudoc_edited_records.id;


--
-- Name: sudoc_records; Type: TABLE; Schema: public; Owner: quinnjh
--

CREATE TABLE public.sudoc_records (
    id integer NOT NULL,
    record_id character varying,
    title character varying,
    marc_data bytea,
    created_by integer,
    created_at timestamp without time zone
);


ALTER TABLE public.sudoc_records OWNER TO quinnjh;

--
-- Name: sudoc_records_id_seq; Type: SEQUENCE; Schema: public; Owner: quinnjh
--

CREATE SEQUENCE public.sudoc_records_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sudoc_records_id_seq OWNER TO quinnjh;

--
-- Name: sudoc_records_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: quinnjh
--

ALTER SEQUENCE public.sudoc_records_id_seq OWNED BY public.sudoc_records.id;


--
-- Name: user_logs; Type: TABLE; Schema: public; Owner: quinnjh
--

CREATE TABLE public.user_logs (
    id integer NOT NULL,
    user_id integer,
    path character varying NOT NULL,
    method character varying NOT NULL,
    status_code integer NOT NULL,
    detail character varying,
    "timestamp" timestamp without time zone
);


ALTER TABLE public.user_logs OWNER TO quinnjh;

--
-- Name: user_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: quinnjh
--

CREATE SEQUENCE public.user_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_logs_id_seq OWNER TO quinnjh;

--
-- Name: user_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: quinnjh
--

ALTER SEQUENCE public.user_logs_id_seq OWNED BY public.user_logs.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: quinnjh
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying NOT NULL,
    hashed_password character varying NOT NULL,
    role character varying NOT NULL
);


ALTER TABLE public.users OWNER TO quinnjh;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: quinnjh
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO quinnjh;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: quinnjh
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: weeded_items_id_seq; Type: SEQUENCE; Schema: public; Owner: quinnjh
--

CREATE SEQUENCE public.weeded_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.weeded_items_id_seq OWNER TO quinnjh;

--
-- Name: weeded_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: quinnjh
--

ALTER SEQUENCE public.weeded_items_id_seq OWNED BY public.weeded_items.id;


--
-- Name: analytics id; Type: DEFAULT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.analytics ALTER COLUMN id SET DEFAULT nextval('public.analytics_id_seq'::regclass);


--
-- Name: analytics_errors id; Type: DEFAULT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.analytics_errors ALTER COLUMN id SET DEFAULT nextval('public.analytics_errors_id_seq'::regclass);


--
-- Name: items id; Type: DEFAULT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.items ALTER COLUMN id SET DEFAULT nextval('public.items_id_seq'::regclass);


--
-- Name: sudoc_cart_items id; Type: DEFAULT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.sudoc_cart_items ALTER COLUMN id SET DEFAULT nextval('public.sudoc_cart_items_id_seq'::regclass);


--
-- Name: sudoc_carts id; Type: DEFAULT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.sudoc_carts ALTER COLUMN id SET DEFAULT nextval('public.sudoc_carts_id_seq'::regclass);


--
-- Name: sudoc_created_records id; Type: DEFAULT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.sudoc_created_records ALTER COLUMN id SET DEFAULT nextval('public.sudoc_created_records_id_seq'::regclass);


--
-- Name: sudoc_edited_records id; Type: DEFAULT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.sudoc_edited_records ALTER COLUMN id SET DEFAULT nextval('public.sudoc_edited_records_id_seq'::regclass);


--
-- Name: sudoc_records id; Type: DEFAULT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.sudoc_records ALTER COLUMN id SET DEFAULT nextval('public.sudoc_records_id_seq'::regclass);


--
-- Name: user_logs id; Type: DEFAULT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.user_logs ALTER COLUMN id SET DEFAULT nextval('public.user_logs_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: weeded_items id; Type: DEFAULT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.weeded_items ALTER COLUMN id SET DEFAULT nextval('public.weeded_items_id_seq'::regclass);


--
-- Name: analytics_errors analytics_errors_pkey; Type: CONSTRAINT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.analytics_errors
    ADD CONSTRAINT analytics_errors_pkey PRIMARY KEY (id);


--
-- Name: analytics analytics_pkey; Type: CONSTRAINT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.analytics
    ADD CONSTRAINT analytics_pkey PRIMARY KEY (id);


--
-- Name: items items_pkey; Type: CONSTRAINT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_pkey PRIMARY KEY (id);


--
-- Name: sudoc_cart_items sudoc_cart_items_pkey; Type: CONSTRAINT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.sudoc_cart_items
    ADD CONSTRAINT sudoc_cart_items_pkey PRIMARY KEY (id);


--
-- Name: sudoc_carts sudoc_carts_pkey; Type: CONSTRAINT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.sudoc_carts
    ADD CONSTRAINT sudoc_carts_pkey PRIMARY KEY (id);


--
-- Name: sudoc_created_records sudoc_created_records_pkey; Type: CONSTRAINT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.sudoc_created_records
    ADD CONSTRAINT sudoc_created_records_pkey PRIMARY KEY (id);


--
-- Name: sudoc_edited_records sudoc_edited_records_pkey; Type: CONSTRAINT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.sudoc_edited_records
    ADD CONSTRAINT sudoc_edited_records_pkey PRIMARY KEY (id);


--
-- Name: sudoc_records sudoc_records_pkey; Type: CONSTRAINT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.sudoc_records
    ADD CONSTRAINT sudoc_records_pkey PRIMARY KEY (id);


--
-- Name: analytics_errors uq_analytics_error_all_fields; Type: CONSTRAINT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.analytics_errors
    ADD CONSTRAINT uq_analytics_error_all_fields UNIQUE (barcode, alternative_call_number, title, call_number, status, error_reason);


--
-- Name: user_logs user_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.user_logs
    ADD CONSTRAINT user_logs_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: weeded_items weeded_items_alternative_call_number_barcode_key; Type: CONSTRAINT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.weeded_items
    ADD CONSTRAINT weeded_items_alternative_call_number_barcode_key UNIQUE (alternative_call_number, barcode);


--
-- Name: weeded_items weeded_items_pkey; Type: CONSTRAINT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.weeded_items
    ADD CONSTRAINT weeded_items_pkey PRIMARY KEY (id);


--
-- Name: ix_analytics_alternative_call_number; Type: INDEX; Schema: public; Owner: quinnjh
--

CREATE INDEX ix_analytics_alternative_call_number ON public.analytics USING btree (alternative_call_number);


--
-- Name: ix_analytics_barcode; Type: INDEX; Schema: public; Owner: quinnjh
--

CREATE INDEX ix_analytics_barcode ON public.analytics USING btree (barcode);


--
-- Name: ix_analytics_errors_alternative_call_number; Type: INDEX; Schema: public; Owner: quinnjh
--

CREATE INDEX ix_analytics_errors_alternative_call_number ON public.analytics_errors USING btree (alternative_call_number);


--
-- Name: ix_analytics_errors_barcode; Type: INDEX; Schema: public; Owner: quinnjh
--

CREATE INDEX ix_analytics_errors_barcode ON public.analytics_errors USING btree (barcode);


--
-- Name: ix_analytics_errors_id; Type: INDEX; Schema: public; Owner: quinnjh
--

CREATE INDEX ix_analytics_errors_id ON public.analytics_errors USING btree (id);


--
-- Name: ix_analytics_has_item_link; Type: INDEX; Schema: public; Owner: quinnjh
--

CREATE INDEX ix_analytics_has_item_link ON public.analytics USING btree (has_item_link);


--
-- Name: ix_analytics_id; Type: INDEX; Schema: public; Owner: quinnjh
--

CREATE INDEX ix_analytics_id ON public.analytics USING btree (id);


--
-- Name: ix_edited_record_id; Type: INDEX; Schema: public; Owner: quinnjh
--

CREATE INDEX ix_edited_record_id ON public.sudoc_edited_records USING btree (record_id);


--
-- Name: ix_items_alternative_call_number; Type: INDEX; Schema: public; Owner: quinnjh
--

CREATE INDEX ix_items_alternative_call_number ON public.items USING btree (alternative_call_number);


--
-- Name: ix_items_barcode; Type: INDEX; Schema: public; Owner: quinnjh
--

CREATE UNIQUE INDEX ix_items_barcode ON public.items USING btree (barcode);


--
-- Name: ix_items_floor; Type: INDEX; Schema: public; Owner: quinnjh
--

CREATE INDEX ix_items_floor ON public.items USING btree (floor);


--
-- Name: ix_items_id; Type: INDEX; Schema: public; Owner: quinnjh
--

CREATE INDEX ix_items_id ON public.items USING btree (id);


--
-- Name: ix_items_location; Type: INDEX; Schema: public; Owner: quinnjh
--

CREATE INDEX ix_items_location ON public.items USING btree (location);


--
-- Name: ix_items_range_code; Type: INDEX; Schema: public; Owner: quinnjh
--

CREATE INDEX ix_items_range_code ON public.items USING btree (range_code);


--
-- Name: ix_sudoc_cart_items_id; Type: INDEX; Schema: public; Owner: quinnjh
--

CREATE INDEX ix_sudoc_cart_items_id ON public.sudoc_cart_items USING btree (id);


--
-- Name: ix_sudoc_carts_id; Type: INDEX; Schema: public; Owner: quinnjh
--

CREATE INDEX ix_sudoc_carts_id ON public.sudoc_carts USING btree (id);


--
-- Name: ix_sudoc_edited_records_id; Type: INDEX; Schema: public; Owner: quinnjh
--

CREATE INDEX ix_sudoc_edited_records_id ON public.sudoc_edited_records USING btree (id);


--
-- Name: ix_sudoc_records_id; Type: INDEX; Schema: public; Owner: quinnjh
--

CREATE INDEX ix_sudoc_records_id ON public.sudoc_records USING btree (id);


--
-- Name: ix_sudoc_records_record_id; Type: INDEX; Schema: public; Owner: quinnjh
--

CREATE INDEX ix_sudoc_records_record_id ON public.sudoc_records USING btree (record_id);


--
-- Name: ix_user_logs_id; Type: INDEX; Schema: public; Owner: quinnjh
--

CREATE INDEX ix_user_logs_id ON public.user_logs USING btree (id);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: quinnjh
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: quinnjh
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: ix_weeded_items_id; Type: INDEX; Schema: public; Owner: quinnjh
--

CREATE INDEX ix_weeded_items_id ON public.weeded_items USING btree (id);


--
-- Name: sudoc_cart_items sudoc_cart_items_cart_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.sudoc_cart_items
    ADD CONSTRAINT sudoc_cart_items_cart_id_fkey FOREIGN KEY (cart_id) REFERENCES public.sudoc_carts(id);


--
-- Name: sudoc_carts sudoc_carts_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.sudoc_carts
    ADD CONSTRAINT sudoc_carts_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: sudoc_created_records sudoc_created_records_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.sudoc_created_records
    ADD CONSTRAINT sudoc_created_records_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: sudoc_edited_records sudoc_edited_records_edited_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.sudoc_edited_records
    ADD CONSTRAINT sudoc_edited_records_edited_by_fkey FOREIGN KEY (edited_by) REFERENCES public.users(id);


--
-- Name: sudoc_records sudoc_records_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.sudoc_records
    ADD CONSTRAINT sudoc_records_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: user_logs user_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: quinnjh
--

ALTER TABLE ONLY public.user_logs
    ADD CONSTRAINT user_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict iMLroWV2w3ylNpD1TxUlnQ8ffSGLpiVcbQlPQJgFhkidhhQyB9Dgc0udP4STq5T

